body {
    background-color: bisque;
    margin: 15px;
    max-width: 100%;
}

.important { color: #336699; }

.main {
    max-width: 100%;
    width: auto;
    border-radius: 15px;

}

.fa {
    padding: 10px;
    font-size: 30px;
    width: 50px;
    height: 50px;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    margin: 5px 5px;
  }

.fa:hover {
    opacity: 0.7;
  }

.fa-facebook {
    background: #3B5998;
    color: white;
  }

.fa-linkedin {
    background: #007bb5;
    color: white;
  }

.fa-instagram {
  background: #ff5132;
  color: white;
  }

.fa-skype {
    background: #00aff0;
    color: white;
  }