body {
    background-color: bisque;
    margin: 15px;
    max-width: 100%;
    
}
.navbar {
  padding: 0;
  background-color: bisque;
  color:transparent;

}
.custom-padding {
  padding: 55px;
}
.custom-margin{
  margin-left: 55px;
}
.important { 
  color: #336699;
  justify-content: center;
  padding-left: 55px;
  padding-right: 55px;
  padding-bottom: 150px;
  font-size: small;
}
.important-1 { 
  color: #336699;
  justify-content: center;
  padding-top: 150px;
}
.contact {
  padding-top: 10px;
  padding-left: 55px;
  font-size: small;
}

.main {
    max-width: 100%;
    width: auto;
    border-radius: 15px;
}
.fa {
    padding: 10px;
    font-size: 30px;
    width: 50px;
    height: 50px;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    margin: 5px 5px;
  }

.fa:hover {
    opacity: 0.7;
  }

.fa-facebook {
    background: #3B5998;
    color: white;
  }

.fa-linkedin {
    background: #007bb5;
    color: white;
  }

.fa-instagram {
  background: #ff5132;
  color: white;
  }

.fa-skype {
    background: #00aff0;
    color: white;
  }

#footer {
  margin-top: auto;
  background-color: bisque; /* Optional: Footer background color */
  text-align: center;
  padding: 10px;
}

#contact{
  margin: 45px;
}